body,
html {
    height: 100%;
    width: 100%;
    font-family: "PT Serif", serif;
}

body::-webkit-scrollbar {
    width: 1px;
}

p {

    font-family: "PT Serif", serif;
    font-size: 16px;
    line-height: 26px;

    word-wrap: break-word;
    overflow-wrap: break-word;
    hyphens: auto;
}

.shadow-box {
    box-shadow:
        0 2.8px 2.2px rgba(0, 0, 0, 0.034),
        0 6.7px 5.3px rgba(0, 0, 0, 0.048),
        0 12.5px 10px rgba(0, 0, 0, 0.06),
        0 22.3px 17.9px rgba(0, 0, 0, 0.072),
        0 41.8px 33.4px rgba(0, 0, 0, 0.086),
        0 100px 80px rgba(0, 0, 0, 0.12);

}

.form-card {
    margin: auto;
    color: black;
    width: 350px;
    border-radius: 0px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    -ms-border-radius: 0px;
    -o-border-radius: 0px;
}