{% extends "layout.html" %}

{% block content %}

<link rel="stylesheet" href="{{url_for('static', filename='styles/entry.css')}}" />

<style>
    .audio-container {
        height: 100vh;
        min-height: 500px;

        background: url("{{url_for('static', filename='images/typewriter3.png')}}") no-repeat center center fixed;
        background-size: cover;
        background-repeat: no-repeat;
    }

    #myFooter {
        height: 100vh;
        background-image: url("{{url_for('static', filename='images/myfooter.png')}}");
        background-size: contain;
        background-repeat: no-repeat;
    }
</style>

<style>
    #listenBtn {
        font-size: 20px;
        font-family: Arial;
        width: 140px;
        height: 50px;
        border-width: 3px;
        color: black;
        border-color: black;
        font-weight: bold;
        border-top-left-radius: 0px;
        border-top-right-radius: 0px;
        border-bottom-left-radius: 0px;
        border-bottom-right-radius: 0px;
        box-shadow: 7px 7px 0px 0px black;

        background: none;
    }

    #listenBtn:hover {
        background-color: black;
        color: white;

    }
</style>
<div class="container-fluid">

    <div class="row" id="audioRow">
        <div class="col">
            <div style="position: relative;">
                <div class="audio-container siri-container" id="siriContainer">
                    <div id="progress"></div>
                </div>
            </div>
            <!--             <div class="container" id="controls" style="width: 300px;">
                <div class="row">
                    <div class="col-md">
                        <button class="btn  m-1 mybtn bgbtn" id="playBtn"><i class="fa fa-play"></i>
                        </button>
                    </div>
                    <div class="col-md">
                        <button class="btn  m-1 mybtn bgbtn" id="pauseBtn"><i class="fa fa-pause"></i>
                        </button>
                    </div>
                    <div class="col-md"><button class="btn  m-1 mybtn bgbtn" id="stopBtn"><i class="fa fa-stop"></i>
                        </button></div>
                    <div class="col-md">
                        <button class="btn m-1 mybtn bgbtn" id="replayBtn"><i class="fa fa-repeat"></i>
                        </button>
                    </div>
                </div>
            </div> -->
            <div class="container d-flex  flex-lg-row justify-content-center" id="controls">

                <button class="btn  m-1 mybtn bgbtn" id="playBtn"><i class="fa fa-play"></i>
                </button>

                <button class="btn  m-1 mybtn bgbtn" id="pauseBtn"><i class="fa fa-pause"></i>
                </button>
                <button class="btn  m-1 mybtn bgbtn" id="stopBtn"><i class="fa fa-stop"></i>
                </button>
                <button class="btn m-1 mybtn bgbtn" id="replayBtn"><i class="fa fa-repeat"></i>
                </button>

            </div>




        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="row">
        <div class="container-fluid">
            <div class="col">
                <div class="container my-2">
                    <button class="" id="listenBtn" style="border-radius: 0px;"><i class="fa fa-solid fa-play"></i>
                        Listen</button>
                </div>
                <div class="container">
                    <span class="display-6" style="font-weight: 900;">Title</span>
                    <p class="display-5" id="title">
                        {{entry.title}}
                    </p>
                    {% if entry.publish_date %}
                    <p id="publishDate" class="text-muted">
                        {{entry.publish_date}}
                    </p>
                    {% endif %}
                    {% if entry.authors %}
                    <span style="font-weight: 900;">Authors: </span>
                    <p id="publishDate" class="text-muted">
                        {{entry.authors}}
                    </p>
                    {% endif %}
                    {% if entry.publish_date %}
                    <span style="font-weight: 900;">Published on: </span>
                    <p id="authors" class="text-muted">
                        {{entry.publish_date}}
                    </p>
                    {% endif %}
                    {% if entry.source_url %}
                    <span style="font-weight: 900;">Original: </span>

                    <p id="sourceUrl" style="">
                        {{entry.source_url}}
                    </p>

                    {% endif %}
                </div>

            </div>
        </div>

    </div>

</div>

</div>
<div class="container-fluid my-4">
    <div class="row" id="summaryRow">
        <div class="container-fluid">
            <div class="col">
                <div class="container">
                    <span class="display-6"
                        style="background-color: black; color:white;font-weight: 900;">Summary</span>
                    <p id="summary" class="my-4">
                        {{entry.summary}}
                    </p>
                </div>
            </div>
        </div>

    </div>

</div>
<div class="container-fluid my-4">
    <div class="row" id="contentRow">

        <div class="col">

            <div class="container">
                <span class="display-6"
                    style="background-color: black; color:white;font-weight: 900;">Decluttered</span>
                <p id="content">
                    {{entry.content}}
                </p>
            </div>

        </div>


    </div>
</div>

<div class="container" id="myFooter">

</div>

<!-- Howler.js -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/howler/2.2.3/howler.min.js"
    integrity="sha512-6+YN/9o9BWrk6wSfGxQGpt3EUK6XeHi6yeHV+TYD2GR0Sj/cggRpXr1BrAQf0as6XslxomMUxXp2vIl+fv0QRA=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>

<!-- Siriwave.js -->
<script src="https://unpkg.com/siriwave/dist/siriwave.umd.min.js"></script>
<script>

    $(document).ready(function () {

        let playBtn = $("#playBtn");
        let pauseBtn = $("#pauseBtn");
        let stopBtn = $("#stopBtn");
        let replayBtn = $('#replayBtn');
        let listenBtn = $("#listenBtn");
        let progress = $("#progress");
        let trackId = "";
        let progressInterval = "";

        let AUDIO_FILE = "{{entry.audio_file}}"
        let audio_url = `http://localhost:5000/listen/${AUDIO_FILE}`;

        let siriWave = new SiriWave({
            container: document.querySelector("#siriContainer"),
            style: "ios",
            color: "#000",
            height: 500,
            width: 640,
            cover: true,
            autostart: false,
            speed: 0.1,
            amplitude: 1,
        });


        let sound = new Howl({
            src: [audio_url],
            autoplay: false,
            loop: false,
            volume: 1,
            html5: true,
        });

        listenBtn.on("click", () => {
            playBtn.click();
            $("html, body")
                .stop()
                .animate(
                    {
                        scrollTop: $("#audioRow").offset().top,
                    },
                    1000,
                    "linear"
                );
        })
        playBtn.on("click", () => {
            if (trackId == "") {
                trackId = sound.play();
            } else {
                sound.play(trackId);
            }
            siriWave.start();

            progressInterval = setInterval(() => {
                let seek = sound.seek(trackId) || 0;

                let newWidth = ((seek / sound.duration()) * 100 || 0) + "%";

                progress.css("width", newWidth);
            }, 50);
        });

        pauseBtn.on("click", () => {
            sound.pause(trackId);

            clearInterval(progressInterval);
            siriWave.stop();
        });

        stopBtn.on("click", () => {
            sound.stop(trackId);

            clearInterval(progressInterval);

            progress.css("width", "0%");

            siriWave.stop();
        });
    });

</script>
{% endblock %}