{% extends "layout.html" %}

{% block content %}


<style>
    .banner {
        height: 100vh;
        min-height: 600px;
    }

    .banner-1 {
        background: url("{{url_for('static', filename='images/mainbanner.png')}}") no-repeat center center fixed;
        background-size: cover;
        background-repeat: no-repeat;
    }

    .banner-2 {
        background: url("{{url_for('static', filename='images/messright.png')}}") no-repeat center center fixed;
        background-size: cover;
        background-repeat: no-repeat;
    }

    .banner-3 {
        background: url("{{url_for('static', filename='images/messleft.png')}}") no-repeat center center fixed;
        background-size: cover;
        background-repeat: no-repeat;
    }

    .banner-4 {
        background: url("{{url_for('static', filename='images/messright.png')}}") no-repeat center center fixed;
        background-size: cover;
        background-repeat: no-repeat;
    }

    .banner-5 {
        background: url("{{url_for('static', filename='images/landingfooter.png')}}") no-repeat center center fixed;
        background-size: cover;
        background-repeat: no-repeat;
    }
</style>


<div class="container-fluid banner banner-1">

</div>
</div>
<div class="container-fluid banner banner-2">
    <div class="row" style="height: 100%;">
        <div class="col">
            <div class=" d-flex" style="background-color: white; height:100%">
                <div class="m-auto" style="display: inline-block;">
                    <h1 class="display-1">
                        Declutter.
                    </h1>
                    <p class="display-6">
                        Make any article<br>
                        or part of a website<br> more readable!
                    </p>
                </div>

            </div>
        </div>
        <div class="col">

        </div>
    </div>
</div>
<div class="container-fluid banner banner-3">
    <div class="row" style="height: 100%;">
        <div class="col">

        </div>
        <div class="col">
            <div class=" d-flex" style="background-color: white; height:100%">
                <div class="m-auto" style="display: inline-block;">
                    <h1 class="display-1">
                        Summarize.
                    </h1>
                    <p class="display-6">
                        Make any article<br>
                        or part of a website<br> more readable!
                    </p>
                </div>

            </div>
        </div>
    </div>
</div>
<div class="container-fluid banner banner-4">
    <div class="row" style="height: 100%;">
        <div class="col">
            <div class=" d-flex" style="background-color: white; height:100%">
                <div class="m-auto" style="display: inline-block;">
                    <h1 class="display-1">
                        Listen.
                    </h1>
                    <p class="display-6">
                        Make any article<br>
                        or part of a website<br> more readable!
                    </p>
                </div>

            </div>
        </div>
        <div class="col">

        </div>
    </div>
</div>
<div class="container-fluid banner banner-5">

</div>

{% endblock %}